<div class="searchCont">
  <i class="ph ph-magnifying-glass searchIcon"></i>
  <input placeholder="Search for Quality Package" type="search" />
</div>

<div style="overflow-y: scroll;scrollbar-width: none; padding:10px 0px;height: calc(100% - 180px)" class="package-cont">
  <div *ngFor="let packageItem of qualityPackages; let i = index" >
    <div [ngClass]="i==selectedPackageIndex ? 'active-package':'non-active-package' " (click)="selectPackage(packageItem,i)">
      <div class="package-name">
        <span > QP-TW-Shuttering-{{ i }} </span>
        <span >
          {{ packageItem }}
        </span>
      </div>
      
        <i class="ph ph-bookmark-simple bookmarkIcon"></i>
      
    </div>
  </div>
</div>
