.searchCont {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 6px;
    display: flex;
    gap: 8px;
    font-family: sans-serif;
    padding-left: 8px;
  }

  .searchIcon {
    font-size: 20px;
    font-weight: bold;
    color: gray;
  }

  input {
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    width: 100%;
  }
  input:focus {
    outline: none;
  }

  .package-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
     margin-top: 5px;
    //overflow-y: scroll;
    height: 300px;
    .active-package{
      display: flex;
      padding: 8px;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #cde2fd;
      border-radius: 5px;
      color: white;
      font-size: 14px;
      font-weight: 600;
      background-color: #4999fb;
      cursor: pointer;
      .package-name{
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
      .bookmarkIcon{
        font-size: 24px;
      }
    }
    .non-active-package{
      display: flex;
      padding: 8px;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #cde2fd;
      border-radius: 5px;
      color: rgb(87, 87, 87);
      font-size: 14px;
      font-weight: 400px;
      cursor: pointer;
      .package-name{
        display: flex;
        flex-direction: column;
        gap: 3px;
      }
      .bookmarkIcon{
        font-size: 24px;
      }
    }
    .non-active-package:hover{
      background-color: azure;
    }
  }