<span
  style="
    padding: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
  "
  >{{ tower }} | {{ activity }} | {{ p1 }} | {{ p2 }} | {{ locationType }}</span
>

<div class="searchCont">
  <i class="ph ph-magnifying-glass searchIcon"></i>
  <input [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)" placeholder="Search for Locations" type="search" />
</div>

<div style="height: calc(100% - 190px)" class="loctaions-cont">
  <div class="header">
    <div class="heading1">
      <span>Location</span>
    </div>
    <div class="heading2">
      <span>Check Points Count</span>
    </div>
  </div>
  <div style="overflow-y: scroll; scrollbar-width: none">
    <ng-container *ngFor="let location of filteredLocations; let i = index">
      <div class="locationName">
        <span>{{ location.locationName }}</span>
      </div>
      <div *ngFor="let sublocation of location.sublocations">
        <div class="sublocation">
          <div class="sublocationName">
            <div style="width: 6px; height: 6px; border: 6px solid rgb(173, 225, 101); border-radius: 40%;"></div>
            <span>{{ sublocation }}</span>
          </div>

          <div class="count">
            <span>{{ i }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
