<span style="padding: 5px; font-family: sans-serif;font-weight: bold; font-size: 13px;">{{tower}} | {{activity}} | {{p1}} | {{p2}} | {{locationType}}</span>

<div class="searchCont">
  <i class="ph ph-magnifying-glass searchIcon"></i>
  <input placeholder="Search for Locations" type="search" />
</div>

<div class="loctaions-cont">
  <div class="header">
    <div class="heading1">
      <span>Location</span>
    </div>
    <div class="heading2">
      <span>Check Points Count</span>
    </div>
  </div>

  <ng-container *ngFor="let location of locations; let i = index">
    <div class="locationName">
      <span>{{ location.locationName }}</span>
    </div>
    <div *ngFor="let sublocation of location.sublocations">
      <div class="sublocation">
        <div class="sublocationName">
          <span>{{ sublocation }}</span>
        </div>

        <div class="count">
          <span>{{ i }}</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>
