<div style="height: 100vh">

<div  class="check-points-header">
  <span class="heading">Project Check Points</span>
</div>
<div style="height: 100vh" class="check-points-cont">
  <div  >
    <app-activities class="content blur-animation"> </app-activities>
  </div>
  <div  class="division"></div>
  <div *ngIf="selectedTowerInd!==-1 && selectedActivityInd!==-1">
    <app-quality-package class="content blur-animation"></app-quality-package>
  </div>
  <div *ngIf="selectedTowerInd!==-1 && selectedActivityInd!==-1" class="division"></div>
  <div *ngIf="selectedTowerInd!==-1 && selectedActivityInd!==-1 && selectedPackageInd!==-1">
    <app-location-types class="content blur-animation"></app-location-types>
  </div>

  <div *ngIf="selectedTowerInd!==-1 && selectedActivityInd!==-1 && selectedPackageInd!==-1" class="division"></div>
  <div  *ngIf="selectedTowerInd!==-1 && selectedActivityInd!==-1 && selectedPackageInd!==-1 && selectedLocationTypeInd!==-1" 
  >
    <app-locations class="content blur-animation"></app-locations>
  </div>
</div>
  
</div>

