<div style="height: 100%; display: flex; flex-direction: column; gap: 10px;">

<div class="searchCont">
  <i class="ph ph-magnifying-glass searchIcon"></i>
  <input [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)" placeholder="Search Activities" type="search" />
</div>


<div style="overflow-y: scroll;scrollbar-width: 10px; padding:0px 0px;height: calc(100% - 180px);border-radius: 5px 5px 0 0;" class="towers-cont">
  <div  *ngFor="let tower of filteredTowers; let i = index">
    <!-- <div (click)="toggleDropdown(i)"> -->
    <div  style="position: sticky; top: 0;" (click)="toggleDropdown(i, tower.towerName,tower.id)">
      <div [ngClass]="i===selctedTowerInd?'tower':'nonActiveTower'" >
        <!-- <span>{{ tower }}</span> -->
        <span>{{ tower.towerName }}</span>
        <i
          *ngIf="i === selctedTowerInd && open; else closedIcon"
          class="ph ph-caret-circle-up dropdown-icon"
        ></i>
        <ng-template #closedIcon>
          <i class="ph ph-caret-circle-down dropdown-icon"></i>
        </ng-template>
      </div>
    </div>

    <div *ngIf="i === selctedTowerInd && open">
      <!-- <div *ngFor="let activity of activities; let j=index"> -->
      <div  *ngFor="let activity of activities; let j = index">
        <!-- <span (click)="selectTowerActivity(tower,activity,i)">{{activity}}</span> -->
        <!-- <div [ngClass]="j==selectedActivityIndex ? 'activityDiv': 'notActivityDiv'"  (click)="selectTowerActivity(tower,activity,i,j)"> -->
        <div 
          (click)="selectTowerActivity(j, activity.activityName,activity.activityId)"
          [ngClass]="
            j === selectedActivityInd ? 'activityDiv' : 'notActivityDiv'
          "
        >
          <span>{{ activity.activityName }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
  
</div>





