.searchCont {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  padding: 6px;
  display: flex;
  gap: 8px;
  font-family: sans-serif;
  padding-left: 8px;
  position: sticky;
  top: 0;
}

.searchIcon {
  font-size: 20px;
  font-weight: bold;
  color: gray;
}

input {
  border: none;
  font-size: 14px;
  font-family: sans-serif;
  width: 100%;
}
input:focus {
  outline: none;
}

.towers-cont {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px;
  //margin-top: 1px;
  //overflow-y: scroll;
  .tower {
    background-color: #d2e2f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #bad6f8;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    span {
      font-size: 16px;
      font-weight: bold;
    }
    .dropdown-icon {
      font-weight: 300;
      font-size: 20px;
    }
  }

  .nonActiveTower {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #bad6f8;
    border-radius: 5px;
    cursor: pointer;
    span {
      font-size: 16px;
      font-weight: bold;
    }
    .dropdown-icon {
      font-weight: 300;
      font-size: 20px;
    }
  }

  .activityDiv{
    background-color: #4999fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    border: 1px solid #bad6f8;
    color: white;
    font-weight: bold;
    cursor: pointer;
    span {
      font-size: 16px;
    }
  }

  .notActivityDiv{
    background-color: #f3f6f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    border: 1px solid #bad6f8;
    cursor: pointer;
    span {
      font-size: 16px;
    }
  }

  .notActivityDiv:hover{
    background-color: azure;
  }
}


@keyframes blurIn {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.blur-animation {
  animation: blurIn 0.4s ease-out forwards;
}

.content {
  filter: blur(0);
  opacity: 1;
  transition: filter 0.4s ease-out, opacity 0.4s ease-out;
}